<div
	class="navbar navbar-default d-flex flex-column flex-sm-row justify-content-between align-items-center"
>
	<div class="d-flex align-items-center">
		<img class="logo" src="/assets/images/logo.jpg" />
		<div class="navbar-header">
			<a class="navbar-brand" href="#"
				><span>Paypal</span>&nbsp;<span class="primary-color"
					>Restaurants</span
				></a
			>
		</div>
	</div>

	<input
		type="search"
		[formControl]="searchField"
		class="form-control item search-box mt-3 mt-sm-0"
		placeholder="Search by name / cuisines"
	/>
</div>
